<h3>Nuestra Empresa</h3>

Nuestra empresa comenzó en el año 1975, con la reinstalación de una pequeña rectificadora, que su apoderado dejó en manos de Tomás Gradenecker, quien se encargó de emprender nuevos rumbos.
Año a año, la demanda en nuestra zona, en donde las grandes industrias utilizan maquinarias pesadas, tractores, camiones y autos, hicieron que la empresa crezca en cuanto a experiencia y calidad, gracias a los recursos humanos de la familia y de quienes nos fueron rodeando durante todo este tiempo.
Hoy contamos con un moderno taller con tecnología de punta para la obtención de una óptima rectificación de motores, esto nos ubica entre las rectificadoras más importantes de la región y del país, extendiendo nuestros servicios en todo el territorio de Misiones y zonas de Corrientes.

<h3>Servicio y Calidad</h3>
La experiencia en todos estos años nos dio la pauta de poder trabajar en conjunto para mejorar la calidad del servicio, a manera de facilitar y solucionar todos los problemas que respectan al complejo y minucioso trabajo en motores.
Somos un equipo dedicado al objetivo de avanzar a paso firme con La manera más práctica y segura de rectificar un motor, a lograr la satisfacción de nuestros clientes y que ellos puedan sentirse familiarizados con nuestra empresa. Es por eso que tratamos de ampliar siempre nuestros horizontes en cuanto soluciones de acuerdo a las demandas requeridas.
Contamos con un amplio salón de reuniones de conferencia totalmente equipado para capacitación de empleados y mecánicos.
