<h3>LA EMPRESA</h3>


Contamos con un amplio espacio para que un numeroso personal altamente capacitado, y con los últimos aportes en tecnología de máquinas, desarrollen con experiencia diferentes trabajos relacionados con la reparación y armado de tapas de cilindros, rectificación de cigüeñales y cilindros, reparación de blocas de motores y soldaduras.
Estos procedimientos rotan en sucesivas alternativas y verificaciones con el objetivo de optimizar del servicio según las variadas demandas.

LAVADORAS ECOLOGICAS
Trabajan empleando agentes desengrasantes biodegradables combinados con temperaturas entre 60° C y 90° C, asegurando una limpieza profunda del motor y protección el medio ambiente.

RECTIFICADORA DE CIGUEÑALES
Mediante el desbaste por piedra abrasiva, devuelva a los muñones de cigüeñal su forma perfectamente circular, y al diámetro correcto.

ALESADORA DE BANCADAS
Alinea y da medida a los alojamientos del cigüeñal de forma rápida y precisa.

BRUÑIDORA DE CILINDROS
La máquina se ocupa de quitar rugosidad y conformar el diámetro correspondiente a cada cilindro.
Esta herramienta también realiza el procedimiento llamado, bruñido PLATEAU, con abrasivos en forma de cepillos de cerda, para mejorar la terminación superficial del bruñido convencional; acortando así el tiempo de asentamiento de los aros de pistón.

RECTIFICADORA DE CILINDROS
Realiza un desbaste con una herramienta de corte para dar medida al interior de los cilindros en forma automática, para luego pasar a la bruñidora de cilindros.

RECTIFICADORA DE SUPERFICIES PLANAS
Para el block del motor y tapas de cilindro, con piedra abrasiva o herramientas de corte, se mecaniza (cepilla) las superficies para corregir deformaciones.

RECTIFICADORA DE ASIENTOS DE VÁLVULAS
Sobre la tapa de cilindro y alineada con las guías de válvula, esta máquina rectifica los asientos para así lograr el correcto cierre de las válvulas.

ALESADORA DE ALOJAMIENTO DE ARBOL DE LEVAS
Procedimiento este que se realiza en las tapas de cilindro.

BANCO DE PRUEBAS DE BLOCK Y TAPAS DE CILINDRO
Procedimiento este que se realiza en las tapas de cilindro.

<%= link_to 'About Me', controller: 'about_me' %>
